<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Patient</title>
</head>
<body>
<h1>Edit Patient</h1>
<form th:action="@{/patients/edit/{id}(id=${patient.patientId})}" th:object="${patient}" method="post">
    <div>
        <label>First Name:</label>
        <input type="text" th:field="*{firstName}" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" th:field="*{lastName}" />
    </div>
    <div>
        <label>DOB:</label>
        <input type="date" th:field="*{dob}" />
    </div>
    <div>
        <label>Address:</label>
        <input type="text" th:field="*{address}" />
    </div>
    <div>
        <label>Gender:</label>
        <input type="text" th:field="*{gender}" />
    </div>
    <div>
        <label>Phone:</label>
        <input type="text" th:field="*{phone}" />
    </div>
    <div>
        <button type="submit">Update Patient</button>
    </div>
</form>
</body>
</html>